.formAlign {
	padding: 2em 1em 2em 1em;
	width: 40rem;
	max-width: 100%;
	margin: auto;
}

.calendarAlign {
	padding: 1em 1em 3em 1em;
	width: 38rem;
	max-width: 100%;
	margin: auto;
}

.timeBox {
	text-align: center;
	position: relative;
	width: 38rem;
	max-width: 100%;
	padding: 1rem;
	margin: auto;

	border: 0.3rem solid #ececec;
	border-radius: 8px;
	color: #212529;
}

.timeTitle {
	/* text-decoration: underline; */
	font-size: 1.5em;
	font-weight: normal;
	text-decoration-thickness: 0.1rem;
}

.localTime {
	padding-top: 0.5rem;
}

.localTimeTitle {
	text-decoration: underline;
	font-size: 1.3em;
	font-weight: lighter;
	text-decoration-thickness: 0.1rem;
}

.ourTime {
	padding-top: 0.5rem;
}

.ourTimeTitle {
	text-decoration: underline;
	font-size: 1.3em;
	font-weight: lighter;
	text-decoration-thickness: 0.1rem;
}

.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
	position: relative;
	padding: 1rem;
	margin: 2.5rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	visibility: visible !important;
}

.hidden {
	visibility: hidden;
}

.button {
	padding: 2em 1em 2.5em 1em;
	width: 30rem;
	height: 4rem;
	max-width: 100%;
	margin: auto;
}

.center {
	align-items: center;
}

.disableCalendar {
	cursor: default !important;
}

.container {
	overflow: hidden;
}

.unavailable {
	color: #000 !important;
	background-color: rgba(242, 242, 240, 0.45) !important;
}

.past {
	color: #000 !important;
	background-color: rgba(232, 232, 225, 0.6) !important;
}

.booked:hover {
	color: hsla(3, 100%, 20%, 1) !important;
	background-color: rgba(255, 65, 54, 0.55) !important;
}

.booked {
	color: hsla(3, 100%, 20%, 1) !important;
	background-color: rgba(255, 65, 54, 0.6) !important;
}

.regionBooked {
	color: hsla(350, 65%, 15%) !important;
	background-color: rgba(194, 43, 65, 0.6) !important;
}

.regionBooked:hover {
	color: hsla(350, 65%, 15%) !important;
	background-color: rgba(194, 43, 65, 0.55) !important;
}

.available {
	color: hsla(127, 63%, 15%, 1) !important;
	background-color: rgba(1, 255, 112, 0.7) !important;
}

.available:hover {
	color: hsla(127, 63%, 15%, 1) !important;
	background-color: rgba(1, 255, 112, 0.5) !important;
}

.selected {
	color: #111111 !important;
	background-color: rgba(13, 110, 253 0.85) !important;
}

.selected:hover {
	color: #111111 !important;
	background-color: rgba(13, 110, 253 0.8) !important;
}

.invalidCalendar {
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-radius: 0.25rem;
	border: 1.5px solid #dc3545;
	padding: 0.5em;
}

.invalidText {
	width: 100%;
	margin-top: 0.3rem;
	margin-left: 0;
	margin-right: 0;
	font-size: 0.875em;
	color: #dc3545;
	display: block;
	text-align: center;
}

.invalidText:hover {
	cursor: auto;
}
